build/
node_modules/
syncline-backend/postgres/
syncline-backend/postgres.zip
syncline-backend/redis/
syncline-backend/redis.zip
syncline-backend/.turbo/
syncline-backend/dump.rdb
syncline-backend/*.log
syncline-android/.gradle/
syncline-android/app/build/
syncline-android/build/
syncline-android/local.properties
*.apk
.env
.env.local
